<config>
	<auth jid='user@server.com/Resource' pass='secreteating' server='__optional__' />
	<rooms>
		<muc room='jdev@conference.jabber.org' nick='SleekBot' />
		<muc room='bar@conference.jabber.org' nick='SleekBot' />
	</rooms>
	<plugins>
		<bot>
			<plugin name='pingbot'>
				<config />
			</plugin>
			<plugin name='diceroll'>
				<config />
			</plugin>
			<plugin name='xepbot'>
				<config>
					<xeps url='http://www.xmpp.org/extensions/xeps.xml'/>
					<cache expiry='6' />
				</config>
			</plugin>
		</bot>
	</plugins>
</config>
